.container{
    width: 100%;
}

#navbar{
    width: 100%;
}

#navbar a{
    margin-right: .2px;
    margin-left: .2px;
    font-size: .75rem;
}

.images:hover{
    transform: scale(2);
    transition: .5s all ease-in;
}

#logo{
    width: 35px;
    height: 45px;
    margin-right: 0px;
}

#home-img{
    width: 80%;
    height: auto;
}

.search{
    display: none;
}

.main-pic{
    width: 100%;
    height: 80px;
    margin: auto;
}

#prof{
    margin-top: 0px;
}

#nairo{
    margin-top: 0px;
}

.main-text{
    width: 100%;
    height: 150px;
    margin: auto;
}

.main-text h3{
    font-size: .6rem;
}

#texts{
    font-size: .4rem;
}

.like{
    width: 100%;
    overflow: auto;
    margin: 0px;
    margin-top: 2px;
}

.likebtn{
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.dislikebtn{
    width: 15px;
    height: 15px;
    margin-right: 0px;
}

.like-dis{
    width: 9.5px;
    height: 9.5px;

}

.input-box1{
    width: 5px;
    height: 5px;
    font-size: .6rem;
    
    margin-left: 0px;
    margin-top: -5px;
}

.input-box2{
    width: 5px;
    height: 5px;
    font-size: .6rem;
    
    margin-left: 0px;
}

#press{
    font-size: .5rem;
}

.images{
    width: 88%;
}

.text1{
    margin: 5px;
    margin-top: 0px;
}

.text2{
    margin: 5px;
    margin-top: 0px;
}

.text3{
    margin: 5px;
    margin-top: 0px;
}

.pic1{
    width: 30%;
    margin:5px;
    margin-bottom: 0px;
}

.pic2{
    width: 30%;
    margin: 5px;
    margin-bottom: 0px;
}

.pic3{

    width: 30%;
    margin: 5px;
    margin-bottom: 0px;
}

#contact{
    font-size: 1rem;
}

.contac-p{
    font-size: .6rem;
}

#copy{
    font-size: .7rem;
    padding-bottom: 5px;
}

footer{
    height: auto;
}
